<script>$(".button-collapse").sideNav();</script>
<script>
$(".button-collapse").sideNav();
</script>

<script>
  $(function(){
    $('#search-input').keyup(function(){
      var searchText = $(this).val().toLowerCase();

      $('#nav-mobile > li').each(function(){
        var currentLiText = $(this).text().toLowerCase(),
          showCurrentLi = currentLiText.indexOf(searchText) !== -1;

        $(this).toggle(showCurrentLi);
      });
    });
  });
</script>

<script>
  $(function() {
    $('#search-input').focus(function(){
      if ($(this).val() == "Search...") {
        $(this).attr("value", "");
      }
    })
  })
</script>
