<script>
$(".button-collapse").sideNav();
$(".dropdown-button").dropdown();

$('.collapsible').collapsible();
$("#headerSearchButton").click(function() {
  $('.button-collapse').sideNav('show');
  $('#search-input').focus();
});
</script>

<!-- Side bar search --->
<script>
$(function() {
  $('#search-input').keyup(function(){
    var searchText = $(this).val().toLowerCase();

    $('#nav-mobile > li').each(function(){
      var currentText = $(this).text().toLowerCase();
      if (currentText.includes(searchText)) {
        $(this).show();
        if ($(this).has("#clubs")) {
          $("#clubs > li").each(function(){
            var clubName = $(this).text().toLowerCase();
            if (clubName.includes(searchText)){
              $(this).show();
            } else {
              $(this).hide();
            }
          })
        }
      } else {
        $(this).hide();
      }
    })
  })
})
</script>

<!--- Sidebar show "Search..." text --->
<script>
  $(function() {
    $('#search-input').focus(function(){
      if ($(this).val() == "Search...") {
        $(this).attr("value", "");
      }
    })
    $('#search-input').focusout(function(){
      if ($(this).val() == "") {
        $(this).attr("value", "Search...");
      }
    })
  })
</script>
<script>
$(".clickables").click(function() {
  window.open($(this).attr("wantedUrl"), '_blank');
})
</script>
