<head>
	<!--- Some HTTPS stuff, ignore it --->
	<script type="text/javascript">
	    var host = "woodroffehs.ca";
	    if ((host == window.location.host) && (window.location.protocol != "https:"))
	        window.location.protocol = "https";
	</script>
	<link rel="canonical" href="{{ site.url }}{{ page.url }}" />

	<title>WoodroffeHS - Student operated site</title>
	<!--- MaterializeCSS Icons --->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--- MaterializeCSS CSS --->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<!--- Custom css --->
	<link rel="stylesheet" href="/css/custom.css">

	<!--- MaterializeCSS javascript --->
	<link rel='shortcut icon' href='/images/mobile-icon.png' type='image/png'/ >
	<!--- MaterializeCSS javascript --->
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<!--- MaterializeCSS javascript
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script> -->
	<!-- Local Materliaze -->
	<script type="text/javascript" src="/js/materialize.js"></script>
	<!--- Font awesome icons --->
	<script src="https://use.fontawesome.com/28e8f6ef03.js"></script>
</head>
