<div class="card orange darken-1">
  <div class="card-content">
    <p><a href="https://www.google.ca/maps/place/2410+Georgina+Dr,+Ottawa,+ON+K2B+7M7/@45.3625647,-75.7822785,17z/data=!3m1!4b1!4m5!3m4!1s0x4cce012cf1b9abf7:0x9461802ee5f58973!8m2!3d45.362561!4d-75.7800898" target="_blank" class="black-text"><b>Address:</b> 2410 Georgina Dr, Ottawa, ON K2B 7M8</a></p>
    <p><b>Phone:</b> (613) 820-7186</p>
    <p><a href="https://ocdsb.ca" target="_blank" class="black-text"><b>District:</b> Ottawa-Carleton District School Board</a></p>
    <p><b>Founded:</b> 1960</p>
    <p><a href="https://ocdsb.ca" target="_blank" class="black-text"><b>School board:</b> Ottawa-Carleton District School Board</a></p>
    <p><b>Lowest grade:</b> Ninth grade</p>
    <p><b>Staff:</b> 90</p>
  </div>
</div>
