---
layout: default
---
<div class="row">
  {% for item in site.data.students %}
  <div class="col s4 l1">
    <a href="{{ item.url }}">
    <div class="center">
      {% if item.icon %}
      <i class="fa {{ item.icon }} fa-5x"></i>
      {% endif %}
    </div>
    <div class="center">
      <p>{{ item.title }}</p>
    </div>
  </a>
  </div>
  {% endfor %}
</div>
<table class="centered">
  <thead>
    <tr>
      <th data-field="name">Counselor</th>
      <th data-field="category">Last Name</th>
    </tr>
  </thead>
  <tbody>
    {% for person in site.data.guidanceCounselors %}
    <tr class="clickables" wantedUrl="{{ person.link }}">
      <td><a>{{ person.name }}</a></td>
      <td><a>{{ person.category }}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
