<!DOCTYPE html>
<html>
{% include head.html %}

	<body>
		{{ content }}
		{% include footer.html %}
		<script type="text/javascript" src="js/twitterFetcher_old.js"></script>
		<!-- Twitter Fetcher -->
		<script>
		$(document).ready(function(){
			var twitterFetch = {
			  "id": '730145476058570754',
			  "domId": 'twitterFeed',
			  "enableLinks": true,
			  "showPermalinks": true,
			  "showRetweet": true,
			  "showImages": true,
			  "showTime": false,
			  "showInteraction": false,
			  "showUser": false,
			};
			twitterFetcher.fetch(twitterFetch);
		})
		</script>
	</body>
</html>
